:root {
    --grid-cols: 1;
    --grid-rows: 1:
}

body {
    padding: 0 3%;
}

#container {
    display: grid;
    /* grid-gap: 1em; */
    grid-template-rows: repeat(var(--grid-rows), 1em);
    grid-template-columns: repeat(var(--grid-cols), 1em);
    border: 1px solid #ddd;
}

.gridDiv { 
    padding: 1fr;
    /* border: 1px solid #ddd; */
    text-align: center;
    opacity: 0;
    transition-property:all;
    transition-duration: 20s;
}

.gridDiv:hover{
    opacity:100%;
    transition:background-color .1s ease-in-out;
    background-color: red;
}