* {
    font-family: 'Mukta', 'Open Sans', sans-serif;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1:
}

html, body {
    margin: 0;
    height: 100%;
}

h1,h2,h3,h4,h5{
    margin: 0%;
}

.title, .grid-lid, .ui-sect {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    padding: 0 5%;
    background: rgb(44, 44, 44);
}

.title {
    padding: 1em;
}

.title u, h1, h3 {
    color: beige;
}

.grid-lid {
    
}

#gridContainer {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    border: 1px solid rgb(133, 133, 133);
    width: 60%;
    height: 500px;
    padding: 2px;
    background: white;
}

.gridDiv { 
    padding: 1fr;
    /* border: 1px solid #ddd; */
    text-align: center;
    opacity: 0;
    transition-property:all;
    transition-duration: 20s;
}

.gridDiv:hover{
    opacity:100%;
    transition:background-color .1s ease-in-out;
    background-color: red;
}

.ui-sect {
    padding: 1em;
    margin-top: 40px;
}

.button-ui {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.button-ui button{
    padding: 10px;
    font-size: 16px;
}   
