:root {
    --grid-cols: 1;
    --grid-rows: 1:
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    padding: 0 5%;
    background: rgb(144,144,144);
    background: no-repeat linear-gradient(259deg, rgba(144, 144, 144, 0.726) 0%, rgba(107, 113, 121, 0.719) 100%); 
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.title h3 {
    padding: 0%;
    margin: 0%;
}


.blank-container {
    display: flex;
    flex-direction: column;
    padding: 20px 10px 10px 20px;
    align-items: center;
}

.blank-container button {
    margin-top: 10px;
    padding: 6px;
}

.container-lid {
    display: grid;
    justify-content: center;
}

.container-lid h3 {
    margin: 0%;
}

#gridContainer {
    display: grid;
    /* grid-gap: 1em; */
    grid-template-rows: repeat(var(--grid-rows), 1em);
    grid-template-columns: repeat(var(--grid-cols), 1em);
    border: 1px solid rgb(133, 133, 133);
    width: fit-content;
    padding: 2px;
    background: white;
}

.gridDiv { 
    padding: 1fr;
    /* border: 1px solid #ddd; */
    text-align: center;
    opacity: 0;
    transition-property:all;
    transition-duration: 20s;
}

.gridDiv:hover{
    opacity:100%;
    transition:background-color .1s ease-in-out;
    background-color: red;
}
